a {
    text-decoration: none;
}

.prj-btn {
    border-radius: 4px;
    box-shadow: 0 0 2px 2px rgb(0 0 0 / 10%);
    cursor: pointer;
    margin-bottom: 40px;
    background-color: #fff;
}

.prj-btn:hover .desc-container {
    border-radius: 4px;
    background-color: #2c2d31;
}

.img-container {
    min-height: 200px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img {
    max-height: 160px;
    max-width: 160px;
    height: auto;
    width: auto;
}

.desc-container {
    border-radius: 0 0 4px 4px;
    padding: 10px 20px;
    background-color: #55565a;
    color: white;
}

.desc {
    text-align: center;
    font-size: 14px;
}