<div class="container">
  <div class="logo-container">
    <img src="/assets/img/bidfull.png" class="logo-img">
  </div>
  
  <div class="row">
    <!-- citterio -->
    <div class="col-6 col-md-4 col-xl-3">
      <app-project-btn 
        [imgSrc]="'/assets/img/citterio.png'"
        [desc]="'Promozioni commerciali'"
        [link]="'https://www.figma.com/proto/v7aeMazAhr3psfZV4GN5pe/2103_CIT?page-id=0%3A1&node-id=1%3A5&viewport=241%2C48%2C0.06&scaling=contain&starting-point-node-id=1%3A5'">
      </app-project-btn>
    </div>

    <!-- barilla -->
    <div class="col-6 col-md-4 col-xl-3">
      <app-project-btn 
        [imgSrc]="'/assets/img/barilla.png'"
        [desc]="'Promozioni commerciali'"
        [link]="'https://www.figma.com/proto/IuizT55Bql8pMVcq22LnZW/2110_BAR?page-id=0%3A1&node-id=2%3A3&viewport=241%2C48%2C0.06&scaling=contain&starting-point-node-id=2%3A3'">
      </app-project-btn>
    </div>

    <!-- calendae -->
    <div class="col-6 col-md-4 col-xl-3">
      <app-project-btn 
        [imgSrc]="'/assets/img/calendae.png'"
        [desc]="'Pipeline e timetracking'"
        [link]="'https://www.figma.com/proto/JoEEiRShka27g3MyRvi2YR/2203_CDG?page-id=25%3A70&node-id=25%3A93&viewport=241%2C48%2C0.19&scaling=min-zoom&starting-point-node-id=25%3A93'">
      </app-project-btn>
    </div>

    <!-- gemelli -->
    <div class="col-6 col-md-4 col-xl-3">
      <app-project-btn 
        [imgSrc]="'/assets/img/gemelli.png'"
        [desc]="'Dashboard clinica'"
        [link]="'https://www.figma.com/proto/Iqaokcu7YJHoPwsTy13ZNC/ospedale-gemelli?page-id=0%3A1&node-id=2%3A2&viewport=241%2C48%2C0.28&scaling=min-zoom&starting-point-node-id=2%3A2'">
      </app-project-btn>
    </div>

    <!-- nft -->
    <div class="col-6 col-md-4 col-xl-3">
      <app-project-btn 
        [imgSrc]="'/assets/img/nft.png'"
        [desc]="'NFT'"
        [link]="'https://opensea.io/collection/algorithmic-tokens'">
      </app-project-btn>
    </div>

    <!-- beyou -->
    <div class="col-6 col-md-4 col-xl-3">
      <app-project-multibtn 
        [imgSrc]="'/assets/img/beyou.png'"
        [desc]="'People analytics'"
        [links]="[
          'https://www.figma.com/proto/bNECwbVJNIOy7jhZezFPPA/2111_BYO?page-id=6%3A4&node-id=6%3A38&viewport=241%2C48%2C0.4&scaling=scale-down&starting-point-node-id=6%3A38',
          'https://www.figma.com/proto/bNECwbVJNIOy7jhZezFPPA/2111_BYO?page-id=0%3A1&node-id=2%3A3&viewport=241%2C48%2C0.1&scaling=scale-down&starting-point-node-id=2%3A3',
          'https://www.figma.com/proto/nZVqY2CTizcb268303naM8/2203_BYP?page-id=244%3A1103&node-id=244%3A1104&viewport=241%2C48%2C0.4&scaling=scale-down&starting-point-node-id=244%3A1104',
          'https://www.figma.com/proto/nZVqY2CTizcb268303naM8/2203_BYP?page-id=459%3A532&node-id=459%3A533&viewport=241%2C48%2C0.52&scaling=min-zoom&starting-point-node-id=459%3A533',
          'https://www.figma.com/proto/l8QqW5cNlQQI7erNWyBtDZ/2206_BY2?page-id=0%3A1&node-id=9%3A272&viewport=-49%2C216%2C0.09&scaling=min-zoom&starting-point-node-id=9%3A272',
          'https://www.figma.com/proto/gGRQslVAhmzPa5us8eGTu9/2302_BYS?page-id=0%3A1&node-id=5-329&viewport=47%2C354%2C0.12&scaling=scale-down&starting-point-node-id=5%3A329'
        ]"
        [linksDesc]="[
          'OKR mobile',
          'OKR desktop',
          'Challenge mobile',
          'Challenge desktop',
          'Webapp v2',
          'Social'
        ]">
      </app-project-multibtn>
    </div>

    <!-- bigbrain -->
    <div class="col-6 col-md-4 col-xl-3">
      <app-project-btn 
        [imgSrc]="'/assets/img/bigbrain.png'"
        [desc]="'App hospitality'"
        [link]="'https://www.figma.com/proto/A0tmvYaStvaxWYsccpoCTj/2104_BBA?page-id=0%3A1&node-id=2%3A3&viewport=241%2C48%2C0.19&scaling=scale-down&starting-point-node-id=2%3A3'">
      </app-project-btn>
    </div>

    <!-- domya -->
    <div class="col-6 col-md-4 col-xl-3">
      <app-project-multibtn 
        [imgSrc]="'/assets/img/domya.png'"
        [desc]="'App hospitality'"
        [links]="[
          'https://www.figma.com/proto/alxID3lpC3pKMMDexhCBAE/2209_DOM?page-id=0%3A1&node-id=172%3A81&viewport=426%2C223%2C0.18&scaling=scale-down&starting-point-node-id=172%3A81',
          'https://www.figma.com/proto/alxID3lpC3pKMMDexhCBAE/2209_DOM?page-id=3%3A2&node-id=17%3A521&viewport=280%2C354%2C0.25&scaling=scale-down&starting-point-node-id=17%3A521',
          'https://www.figma.com/proto/alxID3lpC3pKMMDexhCBAE/2209_DOM?page-id=153%3A2&node-id=157%3A2&viewport=70%2C227%2C0.49&scaling=scale-down&starting-point-node-id=157%3A2'
        ]"
        [linksDesc]="[
          'App mobile',
          'Sito concierge',
          'Tv hospitality'
        ]">
      </app-project-multibtn>
    </div>

    <!-- isp -->
    <div class="col-6 col-md-4 col-xl-3">
      <app-project-multibtn 
        [imgSrc]="'/assets/img/isp.png'"
        [desc]="'File system explorer'"
        [links]="[
          'https://github.com/bidcompany/file-system-explorer-frontend',
          'https://github.com/bidcompany/file-system-explorer-backend',
        ]"
        [linksDesc]="[
          'Frontend',
          'Backend'
        ]">
      </app-project-multibtn>
    </div>

    <!-- d&g -->
    <div class="col-6 col-md-4 col-xl-3">
      <app-project-btn 
        [imgSrc]="'/assets/img/dng.png'"
        [desc]="'Price tracker'"
        [link]="'https://www.figma.com/proto/gTNdXAUX91ReFjKgLuPYsf/D%26G---Price-Tracker-Dashboard?node-id=1%3A36&scaling=scale-down&page-id=0%3A1'">
      </app-project-btn>
    </div>

    <!-- knowhere -->
    <div class="col-6 col-md-4 col-xl-3">
      <app-project-btn 
        [imgSrc]="'/assets/img/knowhere.png'"
        [desc]="'Knowledge sharing'"
        [link]="'https://www.figma.com/proto/Pkuv9ydOKiM7iggcyBZVf3/2301_KWW?page-id=0%3A1&node-id=1-3&viewport=198%2C202%2C0.13&scaling=scale-down&starting-point-node-id=1%3A3'">
      </app-project-btn>
    </div>

    <!-- juventus -->
    <div class="col-6 col-md-4 col-xl-3">
      <app-project-btn 
        [imgSrc]="'/assets/img/juventus.png'"
        [desc]="'Dashboard hospitality'"
        [link]="'https://www.figma.com/proto/xd3t9GCmQN0qBfhhUcPX7t/JHotel?node-id=2-11&scaling=scale-down&page-id=0%3A1&starting-point-node-id=2%3A11'">
      </app-project-btn>
    </div>

    <!-- esg -->
    <div class="col-6 col-md-4 col-xl-3">
      <app-project-btn 
        [imgSrc]="'/assets/img/esg.png'"
        [desc]="'ESG surveys'"
        [link]="'https://www.figma.com/proto/UHfkxqnHYe4TADhelVsZZC/Arwin?node-id=13-51&scaling=min-zoom&page-id=0%3A1&starting-point-node-id=13%3A51'">
      </app-project-btn>
    </div>

    <!-- ermes -->
    <div class="col-6 col-md-4 col-xl-3">
      <app-project-btn 
        [imgSrc]="'/assets/img/ermes.png'"
        [desc]="'Audit scheduling'"
        [link]="'https://www.figma.com/proto/4BdTqm0EKWA5J5NEfFbSp7/Ermes?node-id=2-2&starting-point-node-id=2%3A2&scaling=scale-down'">
      </app-project-btn>
    </div>

    <!-- mastercard -->
    <div class="col-6 col-md-4 col-xl-3">
      <app-project-btn 
        [imgSrc]="'/assets/img/mastercard.png'"
        [desc]="'Dashboard finance'"
        [link]="'https://www.figma.com/proto/SST0FK6x9rvl98UhXk5sXe/2304_MST?page-id=0%3A1&node-id=1-3&viewport=223%2C206%2C0.06&scaling=scale-down&starting-point-node-id=1%3A3'">
      </app-project-btn>
    </div>

    <!-- chatto -->
    <div class="col-6 col-md-4 col-xl-3">
      <app-project-multibtn 
        [imgSrc]="'/assets/img/chatto.png'"
        [desc]="'ChatGPT for business'"
        [links]="[
          'https://www.figma.com/proto/osGY6Faiye05jSdtPgLj4L/Chatto-Platform?page-id=0%3A1&type=design&node-id=11-60&viewport=371%2C95%2C0.12&scaling=scale-down&starting-point-node-id=11%3A60',
          'https://www.figma.com/proto/osGY6Faiye05jSdtPgLj4L/Chatto-Platform?page-id=99%3A553&type=design&node-id=99-636&viewport=1158%2C282%2C0.65&scaling=scale-down&starting-point-node-id=1%3A2',
          'https://www.figma.com/proto/osGY6Faiye05jSdtPgLj4L/Chatto-Platform?page-id=120%3A1686&type=design&node-id=120-1754&viewport=1243%2C491%2C0.64&scaling=scale-down&starting-point-node-id=120%3A1754'
        ]"
        [linksDesc]="[
          'Builder',
          'Prompt engineer',
          'User'
        ]">
      </app-project-multibtn>
    </div>
  </div>
  
  <router-outlet></router-outlet>
</div>

